* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.3s;
}

a{
   text-decoration: none;
}

body{
   min-height: 100vh;
   margin: 0 10px;
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: $Very-dark-blue;
   font-family: $font-family-rubik;

   @include tablet{
      margin: 10px;
   }
   @include mobile{
      margin: 40px 20px;
   }
   @include mobile-small{
      margin: 30px 12px;
   }
}