@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0f1424;
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    margin: 10px;
  }
}

@media screen and (max-width: 576px) {
  body {
    margin: 40px 20px;
  }
}

@media screen and (max-width: 320px) {
  body {
    margin: 30px 12px;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "aside content content  content" "aside content content  content";
  gap: 22px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "aside   content  content" "aside   content  content" "aside   content  content";
    gap: 20px;
  }
}

@media screen and (max-width: 576px) {
  .grid-container {
    -ms-grid-columns: minmax(200px, 576px);
        grid-template-columns: minmax(200px, 576px);
        grid-template-areas: "aside" "content";
  }
}

.aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: #1c1f4a;
  overflow: hidden;
  border-radius: 14px;
}

@media screen and (max-width: 768px) {
  .aside {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.grid__user__box {
  padding: 20px 25px 70px 25px;
  background-color: #5847eb;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.grid__user__box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

@media screen and (max-width: 576px) {
  .grid__user__box img {
    width: 50px;
    height: 50px;
    margin-right: 24px;
  }
}

.grid__user__box .grid__user__text {
  margin-top: 25px;
}

.grid__user__box .grid__user__text span {
  color: #bdc1ff;
  font-size: 0.75em;
}

.grid__user__box .grid__user__text p {
  max-width: 200px;
  color: #ffffff;
  font-size: 2em;
  font-weight: 300;
}

@media screen and (max-width: 576px) {
  .grid__user__box .grid__user__text p {
    max-width: 300px;
    font-size: 1.75em;
  }
}

@media screen and (max-width: 576px) {
  .grid__user__box .grid__user__text {
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .grid__user__box {
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.grid__link {
  padding: 20px 25px 25px 25px;
  pointer-events: none;
  position: relative;
}

.grid__link a {
  display: block;
  color: #6f76c8;
  font-size: 1em;
  pointer-events: painted;
  position: relative;
  z-index: 2;
}

.grid__link a + a {
  margin-top: 15px;
}

@media screen and (max-width: 576px) {
  .grid__link a + a {
    margin-top: 0;
  }
}

.grid__link a:hover {
  color: #ffffff;
}

.grid__link a.active {
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .grid__link a {
    font-size: 1.125em;
  }
}

@media screen and (max-width: 320px) {
  .grid__link a {
    font-size: 1em;
  }
}

@media screen and (max-width: 576px) {
  .grid__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.grid__itens {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.grid__itens > img {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 25px;
  top: -10px;
}

.grid__itens .grid__itens__content {
  width: 100%;
  height: calc(100% - 30px);
  margin-top: 30px;
  padding: 24px;
  display: block;
  position: relative;
  bottom: 0;
  background-color: #1c1f4a;
  border-radius: 14px;
}

.grid__itens .grid__itens__content:hover {
  background-color: #303782;
  cursor: pointer;
}

.grid__itens .grid__itens__content .flex {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid__itens .grid__itens__content .flex p {
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 400;
}

.grid__itens .grid__itens__content .flex img {
  cursor: pointer;
}

.grid__itens .grid__itens__content .flex img:hover {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

@media screen and (max-width: 576px) {
  .grid__itens .grid__itens__content .flex {
    margin-bottom: 10px;
  }
}

.grid__itens .grid__itens__content .text--flex {
  position: relative;
  -webkit-animation: show-left 0.5s linear forwards;
          animation: show-left 0.5s linear forwards;
}

.grid__itens .grid__itens__content .text--flex .big--text {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 2.75em;
  font-weight: 300;
}

@media screen and (max-width: 576px) {
  .grid__itens .grid__itens__content .text--flex .big--text {
    margin-bottom: 0;
    font-size: 2em;
  }
}

@media screen and (max-width: 320px) {
  .grid__itens .grid__itens__content .text--flex .big--text {
    font-size: 1.5em;
  }
}

.grid__itens .grid__itens__content .text--flex .small--text {
  color: #bdc1ff;
  font-size: 0.8125em;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .grid__itens .grid__itens__content .text--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .grid__itens .grid__itens__content {
    padding: 20px;
  }
}

.grid__content--orange {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #ff8c66), color-stop(10%, #1c1f4a));
  background-image: linear-gradient(to bottom, #ff8c66 35%, #1c1f4a 10%);
}

.grid__content--blue {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #56c2e6), color-stop(10%, #1c1f4a));
  background-image: linear-gradient(to bottom, #56c2e6 35%, #1c1f4a 10%);
}

.grid__content--red {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #ff5c7c), color-stop(10%, #1c1f4a));
  background-image: linear-gradient(to bottom, #ff5c7c 35%, #1c1f4a 10%);
}

.grid__content--green {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #4acf81), color-stop(10%, #1c1f4a));
  background-image: linear-gradient(to bottom, #4acf81 35%, #1c1f4a 10%);
}

.grid__content--purple {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #7536d3), color-stop(80%, #1c1f4a));
  background-image: linear-gradient(to bottom, #7536d3 35%, #1c1f4a 80%);
}

.grid__content--yellow {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #f1c65b), color-stop(10%, #1c1f4a));
  background-image: linear-gradient(to bottom, #f1c65b 35%, #1c1f4a 10%);
}

@-webkit-keyframes show-left {
  0% {
    left: -40px;
    opacity: 0;
  }
  80% {
    left: -10px;
    opacity: 0.8;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes show-left {
  0% {
    left: -40px;
    opacity: 0;
  }
  80% {
    left: -10px;
    opacity: 0.8;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */